<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<!-- Placeholder specifier (empty Title) required for iOS to show Keyboards section in App Settings. -->
		<dict>
			<key>Type</key>
			<string></string>
			<key>Title</key>
			<string></string>
			<key>Key</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
